language: python
python: 2.7
env:
- TOX_ENV=py26
- TOX_ENV=py27
- TOX_ENV=py33
- TOX_ENV=py34
- TOX_ENV=pypy
- TOX_ENV=docs
- TOX_ENV=flake8
- TOX_ENV=manifest
install:
- pip install tox coveralls
script:
- tox --hashseed 0 -e $TOX_ENV
after_success:
- coveralls
notifications:
  email: false
  irc: "chat.freenode.net#ramlfications"
  slack:
    secure: "G1bX3FdqzbQb/f5CNwatSdPTbxKBo4HT5/wodDNtFyoj9ePd+Xh/h+d97QGB+6Swn7Gnp3r9bqmJrkffogc+N8RzhOJiFfVfOtXWqUa1Y5r/rxO0xZz7Q8PVRAIW0N6YYnq8t4bp9R3yYOdQYtgfUOmKq2TlnEEtZA4MeH7jYwc="
deploy:
  provider: pypi
  user: roguelynn
  password:
    secure: XgUz7PiCHCOVM1yZeNfuy2j73aAGpW5HtTocmjlKNqG9wKXGkqV4IFWneznE1n8hqQj+Tqmm4MQ0AftJcomEh9WESVsglwMOqwMericRcsVkrEq+XHPynMfqsUc/MEr+zAB/Tj9SsbYMjP8zsk4TdJx/s+EbYFXsDfHrxcQY6q4=
  on:
    tags: true
  distributions: sdist bdist_wheel
